<div class="container">
    <div class="row justify-content-start">
        <div class="col-4">
            <h4>Inventory</h4>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-3">
           <div class="input-group mb-3">
               <input type="text" class="form-control" 
               placeholder="Product Search" 
               v-model="search"
               @keyup.enter = "find()">
               <button class="btn btn-outline-secondary" @click="find()"><i class="fa fa-search"></i></button>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table">
                <thead class="table-light">
                    <th>Item Code</th>
                    <th>Product</th>
                    <th>Package</th>
                    <th>Available Units</th>
                    <th>Category</th>
                    <th>Last Updated</th>
                    <th>Edit Available Units</th>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in product_list">
                        <td>{{item.item_code}}</td>
                        <td class="green">{{item.product}}</td>
                        <td>{{item.package}}</td>
                        <td :id="'unit_' + item.id">{{item.units}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.last_updated}}</td>
                        <td>
                            <div class="col-6">
                                <div class="input-group">
                                    <span class="input-group-text">Qty</span>
                                    <input type="text" class="form-control" v-model="quantities[item.id]" @keyup.enter="updateQty(item.id, index)" >
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>